astroid==2.2.5
autopep8==1.4.4
future==0.17.1
importlib-metadata==0.18
isort==4.3.21
jedi==0.14.1
lazy-object-proxy==1.4.1
mccabe==0.6.1
parso==0.5.1
pendulum==2.0.5
pluggy==0.12.0
pycodestyle==2.5.0
pydocstyle==4.0.0
pyflakes==2.1.1
pylint==2.3.1
python-dateutil==2.8.0
python-jsonrpc-server==0.2.0
python-language-server==0.25.0
pytzdata==2019.2
rope==0.14.0
six==1.12.0
snowballstemmer==1.9.0
typed-ast==1.4.0
ujson==1.35
uvloop==0.12.2
vibora==0.0.6
wrapt==1.11.2
yapf==0.28.0
zipp==0.5.2
